@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Montserrat");
body {
  color: white;
  font-family: "Montserrat", sans-serif;
  background-image: url("background.jpg");
  background-color: black;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main {
  font-size: 20px;
  text-align: center;
  letter-spacing: 4px;
  color: rgba(255, 255, 255, 0.747);
}
hr {
  max-width: 40vw;
}
.sub {
  margin-top: 80px;
  text-align: center;
}
/* .center {
  max-width: 30vw;
  margin-top: 50px;
} */
.center1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.topbar {
  margin: 0 20px 0px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100px;
}
.link:hover {
  text-decoration: none;
}
.btn:hover {
  border: 2px solid white;
}
.welcomebtn {
  border: 1px solid rgb(255, 255, 255);
  font-size: 20px;
  margin-top: 30px;
  border-radius: 10px;
  min-height: 12vh;
  min-width: 30vw;
}
.welcomepage {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#urlinput {
  max-height: 10vh;
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
Link:hover {
  border: white;
}
hr {
  background-color: white;
}
table {
  margin: 20px;
  border: 1px solid white;
  max-width: 80vw;
  border-radius: 10px;
}

.validity {
  color: white;
}
.geturl {
  min-height: 8vh;
  min-width: 50vw;
}
.urllabel {
  color: white;
  font-size: 50px;
  margin-left: 6.8em;
}

.generatebtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.urls {
  background-color: rgba(0, 0, 0, 0.678);
  color: white;
  border: 0.5px solid white;
}
a {
  color: white;
}
a:hover {
  color: white;
}
.login {
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.527);
  padding: 20px;
}
.login_btn {
  border: 1px solid white;
  color: white;
  width: 15.5em;
}
.login-button {
  padding: 10px 0 10px 0;
}
